<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122090316140-7bpfde4jepjr1ibmiof1tu2ffr32g4l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122090316140-7bpfde4jepjr1ibmiof1tu2ffr32g4l5</string>
	<key>API_KEY</key>
	<string>AIzaSyB9RPR9ufhk6dQ3xVIH-L3oFc_ryq2o2XI</string>
	<key>GCM_SENDER_ID</key>
	<string>122090316140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crowdbotics.maximfitness5250</string>
	<key>PROJECT_ID</key>
	<string>maxim-fitness</string>
	<key>STORAGE_BUCKET</key>
	<string>maxim-fitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122090316140:ios:0d9a2b0487915cc7</string>
	<key>DATABASE_URL</key>
	<string>https://maxim-fitness.firebaseio.com</string>
</dict>
</plist>